@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --bg-tooltip: white;
    --text-tooltip: black;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --bg-tooltip: #333;
    --text-tooltip: white;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.magicpattern1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 100 40%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 39.812c3.4-1.324 10.2-4.25 17-6.62 6.8-2.367 10.2-4.059 17-5.221 6.8-1.163 10.2 1.936 17-.59 6.8-2.527 10.2-10.258 17-12.044 6.8-1.786 10.2 6.31 17 3.114 6.8-3.195 13.6-15.272 17-19.09L100 40H0Z%22 fill=%22%23f796451a%22%2F%3E%3Cpath d=%22M0 39.812c3.4-1.324 10.2-4.25 17-6.62 6.8-2.367 10.2-4.059 17-5.221 6.8-1.163 10.2 1.936 17-.59 6.8-2.527 10.2-10.258 17-12.044 6.8-1.786 10.2 6.31 17 3.114 6.8-3.195 13.6-15.272 17-19.09%22 fill=%22none%22 stroke=%22%23f79645%22%2F%3E%3C%2Fsvg%3E");
}

.magicpattern2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 100 40%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 2.427c3.4.56 10.2.697 17 2.798 6.8 2.1 10.2 5.758 17 7.705 6.8 1.947 10.2 1.576 17 2.03 6.8.452 10.2-.436 17 .235 6.8.671 10.2-1.81 17 3.12 6.8 4.93 13.6 17.223 17 21.53L100 40H0Z%22 fill=%22%23ca66661a%22%2F%3E%3Cpath d=%22M0 2.427c3.4.56 10.2.697 17 2.798 6.8 2.1 10.2 5.758 17 7.705 6.8 1.947 10.2 1.576 17 2.03 6.8.452 10.2-.436 17 .235 6.8.671 10.2-1.81 17 3.12 6.8 4.93 13.6 17.223 17 21.53%22 fill=%22none%22 stroke=%22%23ca6666%22%2F%3E%3C%2Fsvg%3E");
}

.bg-orange-300.active {
  background-color: white;
  color: hsl(var(--primary));
}

.navsheet.active {
  color: hsl(var(--primary));
}


